.git
.env
.env.*
!.env.example
**/.DS_Store
**/node_modules
**/.gradle
**/.idea
**/.kotlin
**/.swiftpm
**/Pods
**/DerivedData
**/build
**/_build
**/deps
**/cover
**/.elixir_ls
apps/api/service/_build
apps/api/service/deps
apps/api/service/cover
apps/mobile/**/build
apps/mobile/**/.gradle
docs/old
